$font-family-sans-serif:     "YuGo-Medium", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif !default;
$font-family-serif:          "YuMin-Medium", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", serif !default;

$text-default-color: #333333;
$text-light-color: #666666;
$text-inverse-color: #FFFFFF;

$border-dark-color: #666666;
$border-light-color: #DDDDDD;
$border-lighter-color: #EEEEEE;

$bg-default-color: #FFFFFF;
$bg-lighter-color: #EEEEEE;
$bg-inverse-color: #666666;
$bg-hover-color: #EEEEEE;

$navbar-text-default-color: rgba( 0, 0, 0, .9 );
$navbar-text-inverse-color: rgba( 255, 255, 255, .9 );
$navbar-text-soft-default-color: rgba( 0, 0, 0, .75 );
$navbar-text-soft-inverse-color: rgba( 255, 255, 255, .75 );
$navbar-text-softer-default-color: rgba( 0, 0, 0, .5 );
$navbar-text-softer-inverse-color: rgba( 255, 255, 255, .5 );

$navbar-border-default-color: rgba( 0, 0, 0, .2 );
$navbar-border-inverse-color: rgba( 255, 255, 255, .3 );

$navbar-bg-hover-default-color: rgba( 0, 0, 0, .1 );
$navbar-bg-hover-inverse-color: rgba( 255, 255, 255, .1 );

$globalnav-border-color: rgba( 255, 255, 255, .2);
$globalnav-bg-hover-color: rgba( 255, 255, 255, .2 );
$globalnav-bg-active-color: rgba( 0, 0, 0, .2 );
