/*
-------------------------


entry-contents-eyecatch
-------------------------
*/
@media (min-width:992px) {

  .entry-contents-eyecatch {
    float: left;
    margin: 0 30px 2em 0;
  }

}
/*
-------------------------


entry-contents
-------------------------
*/
.entry-contents {
  line-height: 1.75;
}

@media (min-width:600px) {

  .entry-contents {
    font-size: 115%;
  }

}

@media (min-width:992px) {

  .entry-contents {
    font-size: 100%;
  }

}

@media (min-width:1200px) {

  .entry-contents {
    font-size: 115%;
  }

}

.entry-contents p {
  margin: 0 0 1em;
}

.entry-contents li {
  margin: 0 0 .5em;
}

.entry-contents ul,
.entry-contents ol {
  margin: 0 0 .5em;
  padding: 0 0 0 2em;
}

.entry-contents ul ul,
.entry-contents ol ul,
.entry-contents ul ol,
.entry-contents ol ol {
  margin: .5em 0;
}

.entry-contents img {
  max-width: 100%;
  height: auto;
}

.entry-contents hr {
  margin: 2em 0;
  border-top: 3px solid $border-lighter-color;
}

.entry-contents h1,
.entry-contents .h1,
.entry-contents h2,
.entry-contents .h2,
.entry-contents h3,
.entry-contents .h3,
.entry-contents h4,
.entry-contents .h4,
.entry-contents h5,
.entry-contents .h5,
.entry-contents h6,
.entry-contents .h6 {
  line-height: 1.3;
}

.entry-contents h1,
.entry-contents .h1 {
  margin: 0 0 1em;
}

.entry-contents h2,
.entry-contents .h2 {
  margin: 45px 0 1em;
}

.entry-contents h3,
.entry-contents .h3,
.entry-contents h4,
.entry-contents .h4 {
  margin: 30px 0 1em;
}

.entry-contents h5,
.entry-contents .h5,
.entry-contents h6,
.entry-contents .h6 {
  margin: 30px 0 .75em;
}

.entry-contents h1,
.entry-contents .h1 {
  padding: 0;
  background-color: transparent;
  border: 0 none;
  color: $text-default-color;
  font-size: 175%;
  font-weight: normal;
}

.entry-contents h1:before,
.entry-contents .h1:before {
  display: none;
}

.entry-contents h2,
.entry-contents .h2 {
  padding: 0;
  background-color: transparent;
  border: 0 none;
  color: $text-default-color;
  font-size: 150%;
  font-weight: normal;
}

.entry-contents h2:before,
.entry-contents .h2:before {
  display: none;
}

.entry-contents h3,
.entry-contents .h3 {
  padding: .2em 15px;
  background-color: $bg-lighter-color;
  border: 0 none;
  color: $text-default-color;
  font-size: 120%;
  font-weight: normal;
}

.entry-contents h3:before,
.entry-contents .h3:before {
  display: none;
}

.entry-contents h4,
.entry-contents .h4 {
  padding: 0 0 0 3px;
  background-color: transparent;
  border: 0 none;
  color: $text-default-color;
  font-size: 120%;
  font-weight: normal;
}

.entry-contents h4:before,
.entry-contents .h4:before {
  position: relative;
  top: -.1em;
  display: inline-block;
  content: "";
  width: .7em;
  height: .7em;
  background-color: $text-light-color;
  margin-right: .4em;
  vertical-align: middle;
}

.entry-contents h5,
.entry-contents .h5 {
  padding: 0;
  background-color: transparent;
  border: 0 none;
  color: $text-default-color;
  font-size: 110%;
  font-weight: bold;
}

.entry-contents h5:before,
.entry-contents .h5:before {
  display: none;
}

.entry-contents h6,
.entry-contents .h6 {
  padding: 0;
  background-color: transparent;
  border: 0 none;
  color: $text-default-color;
  font-size: 100%;
  font-weight: bold;
}

.entry-contents h6:before,
.entry-contents .h6:before {
  display: none;
}

