/*
-------------------------


global-nav(1.3.0 earlier)
-------------------------
*/
.global-nav {
  position: relative;
  background-color: $bg-inverse-color;
  box-shadow: none;
}

.global-nav .nav-pills {
  margin: 7px 0;
}

.global-nav .nav-pills > li > a,
.global-nav .nav-pills > li > span {
  margin: 0;
  font-size: 12px;
  border-radius: 0;
}

.global-nav .nav-pills > li + li {
  margin-left: 0;
}

.global-nav .nav-pills > li > a {
  padding: .8em 0 .7em;
}

.global-nav .nav-pills > li > a,
.global-nav .nav-pills > li > a:visited {
  color: $text-inverse-color;
  background-color: transparent;
}

.global-nav .nav-pills > li > a:focus,
.global-nav .nav-pills > li > a:hover {
  color: $text-inverse-color;
  background-color: $globalnav-bg-hover-color;
}

.global-nav .nav-pills > li.active > a,
.global-nav .nav-pills > li.active > a:focus,
.global-nav .nav-pills > li.active > a:hover {
  color: $text-inverse-color;
  background-color: $globalnav-bg-active-color;
}

@media (max-width:767px) {

  .global-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .global-nav .nav-pills {
    padding-left: 0;
    padding-right: 0;
  }

  .global-nav .nav-pills {
    border-top: 1px solid $globalnav-border-color;
  }

  .global-nav .nav-pills > li {
    float: left;
    width: 50%;
    border-bottom: 1px solid $globalnav-border-color;
  }

}

@media (min-width:768px) {

  .global-nav .nav-pills {
    margin: 0;
  }

}

@media (min-width:992px) {

  .global-nav .nav-pills > li > a {
    font-size: 14px;
  }

}
/*
-------------------------


global-menu(1.4.0 lator)
-------------------------
*/
.global-nav .global-menu {
  display: flex;
  list-style-type: none;
  margin: 7px 0;
  padding: 0;
}

.global-nav .global-menu>li {
    flex: 1 0 auto;
}

.global-nav .global-menu a,
.global-nav .global-menu span {
    display: block;
    width: 100%;
    text-align: center;
}

.global-nav .global-menu a {
    text-decoration: none;
}

.global-nav .global-menu > li > a,
.global-nav .global-menu > li > span {
  font-size: 12px;
  color: $text-inverse-color;
}

.global-nav .global-menu > li > a {
  padding: .8em 0 .7em;
}

.global-nav .global-menu > li > a,
.global-nav .global-menu > li > a:visited {
  color: $text-inverse-color;
  background-color: transparent;
}

.global-nav .global-menu > li > a:focus,
.global-nav .global-menu > li > a:hover {
  color: $text-inverse-color;
  background-color: $globalnav-bg-hover-color;
}

.global-nav .global-menu > li.current > a,
.global-nav .global-menu > li.current > a:focus,
.global-nav .global-menu > li.current > a:hover {
  color: $text-inverse-color;
  background-color: $globalnav-bg-active-color;
}

@media (max-width:767px) {

  .global-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .global-nav .global-menu {
    border-top: 1px solid $globalnav-border-color;
    flex-wrap: wrap;
  }

  .global-nav .global-menu > li {
    width: 50%;
    border-bottom: 1px solid $globalnav-border-color;
  }

}

@media (min-width:768px) {

  .global-nav .global-menu {
    margin: 0;
  }

}

@media (min-width:992px) {

  .global-nav .global-menu > li > a {
    font-size: 14px;
  }

}
