/*
-------------------------


topicpath
-------------------------
*/
.topicpath {
  padding: 30px 0;
  margin-bottom: 30px;
  border-top: 1px solid $border-light-color;
  border-bottom: 1px solid $border-light-color;
}
