/*
-------------------------


widget
-------------------------
*/
.panel.widget-blog-categories-archives .panel-body {
  padding: 0;
}

.widget-blog-categories-archives ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.widget-blog-categories-archives ul li {
  margin: 0;
  padding: 0;
}

.widget-blog-categories-archives ul li a {
  display: block;
  position: relative;
  padding: .7em 30px .7em 15px;
  border-top: 1px solid $border-light-color;
}

.widget-blog-categories-archives ul li.current a,
.widget-blog-categories-archives ul li.current a:focus,
.widget-blog-categories-archives ul li.current a:hover {
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  color: #333333;
}

.widget-blog-categories-archives ul ul li a {
  padding: .5em 30px;
}

@media (min-width:992px) {

  .col-main .widget-blog-categories-archives ul li a {
    padding-right: 45px;
  }

}


.col-sub .widget .row-instagram {
  margin: 0 -30px;
}

.widget .feed-instagram.thumbnail {
  overflow: hidden;
  position: relative;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.widget .feed-instagram.thumbnail img {
  width: 100%;
  max-width: 300px;
}

.widget .feed-instagram.thumbnail:hover img,
.widget .feed-instagram.thumbnail:focus img,
.widget .feed-instagram.thumbnail:active img {
  opacity: .7;
}

.widget .feed-instagram.thumbnail a,
.widget .feed-instagram.thumbnail a:visited {
  color: $text-inverse-color;
  text-decoration: none;
}

.widget .feed-instagram.thumbnail p {
  padding: 0;
}

.widget .feed-instagram.thumbnail p.caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1em 15px;
  background-color: rgba(0,0,0,.7);
  opacity: .9;
}

@media (min-width:600px) and (max-width:767px) {

  .col-main .widget .row-instagram div[class*="col-"] {
    width: 50%;
  }

}

@media (min-width:992px) {

  /* サイドバーではInstagramの段組を無視する */
  .col-sub .widget .row-instagram div[class*="col-"] {
    width: 100%;
  }

}

.widget-site-search input.form-control[type="text"] {
  width: 200px;
  height: 2.4em;
  border-radius: 0;
  box-shadow: none;
}

.widget-site-search .btn[type="submit"] {
  height: 2.4em;
}


.widget-area-wrapper {
  position: relative;

  a.widget-edit-link {
    position: absolute;
    top: -25px;
    right: -10px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: rgba( 48,48,48,.3 );
    border: 1px solid rgba( 48,48,48,.7 );
    border-radius: 4px;
    z-index: 99;

    &:hover,
    &:focus,
    &:active {
      color: #FFFFFF;
      background-color: rgba( 48,48,48,.7 );
      border-color: #333333;
      text-decoration: none;
      opacity: 1;
    }

    .fa {
      position: relative;
      top: 2px;
      font-size: 20px;
    }

  }

}


.widget ul.menu {
  border-bottom: 1px solid $border-light-color;
}

.widget-local-navi ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.widget-local-navi ul.menu li {
  margin: 0;
  padding: 0;
}

.widget-local-navi ul.menu li a {
  display: block;
  position: relative;
  padding: .7em 30px .7em 15px;
  color: #333333;
  border-top: 1px solid $border-light-color;
}

.widget-local-navi ul.menu li.current a,
.widget-local-navi ul.menu li.current a:focus,
.widget-local-navi ul.menu li.current a:hover {
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  color: #333333;
}

.widget-local-navi ul.menu ul li a {
  padding: .5em 30px;
}

@media (min-width:992px) {

  .col-main .widget-local-navi ul.menu li a {
    padding-right: 45px;
  }

}


.widget ul.bc-blog-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.widget ul.bc-blog-tags li {
    margin: 0;
    padding: 0 2px .5em;
    list-style-type: none;
    flex-glow: 1;
}

.widget ul.bc-blog-tags li a {
    display: block;
    padding: .5em 1em .4em;
    font-size: 12px;
    color: $text-default-color;
    background-color: $bg-default-color;
    border: 1px solid $border-dark-color;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1;
    border-radius: 2em;
    text-decoration: none;
}

.widget ul.bc-blog-tags li a:hover,
.widget ul.bc-blog-tags li a:focus,
.widget ul.bc-blog-tags li a:active {
    opacity: .7;
    text-decoration: none;
}

